body {
    font: 16px/1.6 "Roboto", Helvetica, sans-serif;
    font-weight: 300;
    margin: 0;
}

.person-title {
    font-size: 25px;
    font-weight: 500;
    margin-right: 450px;
}

.image {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

#intro .container-head {
    color: black;
    font-weight: 100;
    font-size: 1.0rem;
    padding: 0 1.5rem;
    position: absolute;
    top: 10rem;
    left: 15rem;
}

h3 {
    background-color: #1695a7;
    color: #FFFFFF;
    font-weight: 200;
    margin-bottom: 30px;
    margin-top: 0;
    padding: 30px 40px;
}

blockquote {
    border-left: 5px solid rgba(51, 24, 24, 0.514);
    color: rgba(51, 24, 24, 0.514);
    font-size: 150%;
    font-weight: 400;
    margin: 20px 15px;
    padding-left: 2.5rem;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 40px;
    margin-inline-end: 0px;
    line-height: 37px;
    font-size: 25px;
    font-family: Helvetica, sans-serif;
    margin-right: 40px;
}